<div class="container-fluid">
    <div class="row justify-content-center pb-4">
        <div class="col-xl-11 col-12 pt-3">
            <div class="container-fluid">
                <div class="row g-4 justify-content-center">
                    <div class="col-12">
                        <p class="mb-1">
                            <span class="fw-semibold">La integral por sustitución,</span> es una operación que se utiliza para solucionar la integración de una manera mas 
                            sencilla debido a que se reemplaza una parte de la ecuación por una letra generalmente la U, los pasos son, elegir una parte de la ecuación para
                            reemplazar, calcular diferencial de U, reemplazar todo por U, calcular la integral y después regresar los valores de U por el valor original
                        </p>
                        <p class="m-0">
                            Veamos paso por paso como realizar este procedimiento, supongamos que tenemos la integral <span class="fw-semibold">(6x+2)/(3x^2+2x)</span>
                        </p>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-12">
                        <div class="card border-secondary" style="height: 100%;">
                            <h5 class="card-header text-center">Paso 1</h5>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-center">Elegir una parte para reemplazar por U</h6>
                                <p class="card-text">
                                    En este ejemplo, con esta división, tomaremos el denominador, 3x^2+2x, esta parte será reemplazada por U
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-12">
                        <div class="card border-secondary" style="height: 100%;">
                            <h5 class="card-header text-center">Paso 2</h5>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-center">Calcular diferencial de U</h6>
                                <p class="card-text">
                                    Ahora que hemos seleccionado una parte de la ecuación a reemplazar, vamos a calcular su diferencial, en este caso se deriva el valor de U y nos
                                    quedaría 6x+2, podemos ver que la DU es igual a la parte de arriba de la división
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-12">
                        <div class="card border-secondary" style="height: 100%;">
                            <h5 class="card-header text-center">Paso 3</h5>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-center">Reemplazar valores</h6>
                                <p class="card-text mb-1">
                                    Ahora realizamos un reemplazo de los valores, 6x+2 es igual a DU mientras que 3x^2+2x es igual a U, por lo que nuestra integral quedaría como 
                                    (DU)/U, en este caso, podría quedar la integral como (1/U)*DU
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-12">
                        <div class="card border-secondary" style="height: 100%;">
                            <h5 class="card-header text-center">Paso 4</h5>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-center">Resolver la integral más sencilla</h6>
                                <p class="card-text mb-1">
                                    Ahora que tenemos nuestra integral (1/U)*DU podemos integrar con la regla de las divisiones que es igual a Ln(u)+c
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-12">
                        <div class="card border-secondary" style="height: 100%;">
                            <h5 class="card-header text-center">Paso 5</h5>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-center">Reemplazar nuevamente el valor de U</h6>
                                <p class="card-text mb-1">                                    
                                    Ya con el resultado lo único que resta es volver a reemplazar U por su valor original, habíamos dicho que U era igual a 3x^2+2x, por lo que
                                    la solución para esta integral quedaría como Ln(3x^2+2x)+c
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>