<div class="modal fade" id="operations" tabindex="-1" aria-labelledby="person-info" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                @if (stepToSeeOperation === 3) {
                    <h1 class="modal-title fs-5">Calcular el alto de los rectángulos</h1>
                }@else {
                    <h1 class="modal-title fs-5">Calcular el área bajo la curva</h1>
                }
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        @if (stepToSeeOperation === 3) {
                            <div class="col-12">
                                <p><span class="fw-semibold">Funcion base: </span>f(x)=2+0.04x²</p>
                                <hr>
                                <p class="fw-semibold text-center">Rectangulo 1</p>
                                <p><span class="fw-semibold">Punto medio: </span>1</p>
                                <p><span class="fw-semibold">Funcion con x sustituida: </span>f(x)=2+0.04(1)²</p>
                                <p class="text-center">f(x)=2+0.04(1)</p>
                                <p class="text-center">f(x)=2+0.04</p>
                                <p><span class="fw-semibold">Resultado: </span>f(x)=2.04</p>
                                <hr>
                                <p class="fw-semibold text-center">Rectangulo 2</p>
                                <p><span class="fw-semibold">Punto medio: </span>3</p>
                                <p><span class="fw-semibold">Funcion con x sustituida: </span>f(x)=2+0.04(3)²</p>
                                <p class="text-center">f(x)=2+0.04(9)</p>
                                <p class="text-center">f(x)=2+0.36</p>
                                <p><span class="fw-semibold">Resultado: </span>f(x)=2.36</p>
                                <hr>
                                <p class="fw-semibold text-center">Rectangulo 3</p>
                                <p><span class="fw-semibold">Punto medio: </span>5</p>
                                <p><span class="fw-semibold">Funcion con x sustituida: </span>f(x)=2+0.04(5)²</p>
                                <p class="text-center">f(x)=2+0.04(25)</p>
                                <p class="text-center">f(x)=2+1</p>
                                <p><span class="fw-semibold">Resultado: </span>f(x)=3</p>
                            </div>
                        }@else {
                            <div class="col-12">
                                <p><span class="fw-semibold">Base de los rectangulos: </span>2</p>
                                <p><span class="fw-semibold">Formula base: </span>b * h</p>
                                <hr>
                                <p class="fw-semibold text-center">Rectangulo 1</p>
                                <p><span class="fw-semibold">Altura: </span>2.04</p>
                                <p><span class="fw-semibold">Formula sustituida: </span>2 * 2.04</p>
                                <p><span class="fw-semibold">Resultado: </span>4.08</p>
                                <hr>
                                <p class="fw-semibold text-center">Rectangulo 2</p>
                                <p><span class="fw-semibold">Altura: </span>2.36</p>
                                <p><span class="fw-semibold">Formula sustituida: </span>2 * 2.36</p>
                                <p><span class="fw-semibold">Resultado: </span>4.72</p>
                                <hr>
                                <p class="fw-semibold text-center">Rectangulo 3</p>
                                <p><span class="fw-semibold">Altura: </span>3</p>
                                <p><span class="fw-semibold">Formula sustituida: </span>2 * 3</p>
                                <p><span class="fw-semibold">Resultado: </span>6</p>
                                <hr>
                                <p><span class="fw-semibold">Suma de areas: </span>14.8</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>