<div class="container-fluid">
    <div class="row justify-content-center pb-4">
        <div class="col-xl-11 col-12 pt-3">
            <div class="container-fluid">
                <div class="row g-4 justify-content-center">
                    <div class="col-12">
                        <p class="mb-1">
                            <span class="fw-semibold">La integral definida,</span> es una operación que se utiliza para calcular el área que hay debajo de una línea que
                            se ha graficado gracias a alguna función dada, la integral, es la operación contraria de la derivada, así como la resta lo es de la suma o la
                            división de la multiplicación
                        </p>
                        <p class="m-0">
                            Veamos paso por paso como realizar este procedimiento con rectangulos infinitos, supongamos que tenemos la función <span class="fw-semibold">f(x)=1+0.03x&#178;</span>
                        </p>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-12">
                        <div class="card border-secondary" style="height: 100%;">
                            <h5 class="card-header text-center">Paso 1</h5>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-center">Encontrar la antiderivada f(x)</h6>
                                <p class="card-text">
                                    Empezaremos por encontrar la antiderivada de la función la cual se obtiene agregando 1 al exponente de X y el mismo número que quede la potencia
                                    se divide entre X y para la constante, se agrega X, recordemos que la derivada es lo contrario de la integración, por lo que para revisar si
                                    el proceso es correcto, al derivar nuestro resultado, volveríamos a tener la función original, nuestra función integrada quedaría como
                                    f(x)=x+(0.03x^3)/3
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-12">
                        <div class="card border-secondary" style="height: 100%;">
                            <h5 class="card-header text-center">Paso 2</h5>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-center">Evaluar la integral en el intervalo</h6>
                                <p class="card-text">
                                    Teniendo la antiderivada, es hora de realizar la evaluación de los intervalos que queremos encontrar, para este ejemplo, encontraremos el área
                                    desde el 0 hasta el 10, sería el intervalo [0,10], por lo que las fórmulas ya sustituidas quedaría como f(x)=0+(0.03*0^3)/3 y 
                                    f(x)=10+(0.03*10^3)/3 dando como resultados 0 y 20 respectivamente
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-12">
                        <div class="card border-secondary" style="height: 100%;">
                            <h5 class="card-header text-center">Paso 3</h5>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-center">Restar f(b) - f(a)</h6>
                                <p class="card-text mb-1">
                                    Como vimos anteriormente, el rango era [0,10] o [a,b] por lo que el siguiente proceso es restar el resultado de la función donde se evaluó b,
                                    menos el resultado de la función donde se evaluó a, por lo que sería 20 - 0, dando un resultado de 20, esto nos indica que el área bajo la
                                    curva de la función f(x)=1+0.03x^2 calculado en el intervalo de 0 a 10 ([0,10]) es 20 unidades cuadradas
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="mb-1">
                            <span class="fw-semibold">La integral indefinida,</span> tiene el mismo propósito que la integral definida, solo que al no tener un rango de valores
                            el cual evaluar, este proceso se queda un complemento al final, los pasos son muy similares, veamos este proceso con la misma función ya seleccionada
                        </p>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-12">
                        <div class="card border-secondary" style="height: 100%;">
                            <h5 class="card-header text-center">Paso 1</h5>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-center">Encontrar la antiderivada f(x)</h6>
                                <p class="card-text">
                                    Empezaremos por encontrar la antiderivada de la función la cual se obtiene agregando 1 al exponente de X y el mismo número que quede la potencia
                                    se divide entre X y para la constante, se agrega X, recordemos que la derivada es lo contrario de la integración, por lo que para revisar si
                                    el proceso es correcto, al derivar nuestro resultado, volveríamos a tener la función original, nuestra función integrada quedaría como
                                    f(x)=x+(0.03x^3)/3
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-12">
                        <div class="card border-secondary" style="height: 100%;">
                            <h5 class="card-header text-center">Paso 2</h5>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-center">Agregar el complemento</h6>
                                <p class="card-text">
                                    En este caso, no tenemos un rango de valores el cual evaluar, por lo que a la integración se le agrega la c que es el complemento para cuando se
                                    tenga la información que nos convertirá nuestra integral indefinida a una definida, dejando nuestro resultado final como f(x)=x+(0.03x^3)/3+c
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>