<div class="modal fade" id="modal-person-info" tabindex="-1" aria-labelledby="person-info" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{person.name}}</h1>
            </div>
            <div class="modal-body">
                <img [src]="person.imgUrl" alt="Riemann picture">
                <p><span class="fw-semibold">Nacio: </span>{{person.born}}</p>
                <p><span class="fw-semibold">Murio: </span>{{person.died}}</p>
                <p><span class="fw-semibold">De: </span>{{person.city}}</p>
                <p><span class="fw-semibold">Biografia: </span>{{person.aboutHim}}</p>
                <p><span class="fw-semibold">Referencia: </span><a [href]="person.reference" target="_blank">{{person.reference}}</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>