<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9 col-sm-11 col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="../../../assets/logo_udg_vertical_sin_benemerita_gris.png" alt="udg-logo" class="udg-logo">
                    </div>
                    <div class="col-12 border-bottom border-dark border-opacity-50">
                        <p class="text-center fw-semibold mb-1">Licenciatura en <span class="fw-bold">Ciberseguridad</span> (LCS).</p>
                        <p class="text-center fw-semibold">DEPTO. DE INNOVACION EN GESTION DEL CONOCIMIENTO</p>
                    </div>
                    <div class="col-12 border-bottom border-dark border-opacity-50 mb-3">
                        <p class="text-center m-0 fw-semibold materia text-nowrap">Matemáticas II</p>
                        <p class="text-center fw-semibold">Área de formación <span class="fw-bold">básico particular obligatoria.</span></p>
                    </div>
                    <div class="col-12">
                        <p class="text-center mb-1 fw-bold fs-5"><span class="text-light bg-secondary px-2">C. Alvaro Arturo ROJAS BOBADILLA</span></p>
                        <p class="text-center mb-1 fw-semibold">Alumno de la Licenciatura en <span class="fw-bold">Ciberseguridad</span>,</p>
                        <p class="text-center fw-semibold">Centro Universitario de Guadalajara.</p>
                        <div class="container-fluid mb-2r">
                            <div class="row">
                                <div class="col-6 text-center fw-semibold">Código: <span class="fst-italic">224164555</span></div>
                                <div class="col-6 text-center fw-semibold">Generación: <span class="fst-italic">2024 - 2027</span></div>
                            </div>
                        </div>
                        <p class="text-center mb-1 fw-bold fs-5"><span class="text-light bg-secondary px-2">Prof. MSc. Jesus ASCENCIO</span></p>
                        <p class="text-center fw-semibold">Profesor del Centro Universitario de Guadalajara.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>