<nav class="navbar sticky-top bg-dark navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://cugdl.udg.mx/" target="_blank">
            <img src="./../../../assets/Centro_Universitario_del_Guadalajara_Logo.png" alt="Logo" width="120" height="28" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-2 mx-lg-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLinkActive="active" [routerLink]="pageRoutes.BOOK_COVER">Presentación</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" [ngClass]="activeRoute === 1 ? 'active' : '' " role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Unidad 1
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLinkActive="active" [routerLink]="pageRoutes.APPROXIMATE_AREA_UNDER_THE_CURVE">Aproximación del área bajo la curva</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<app-modal-person-info></app-modal-person-info>